<div class="row" *ngIf="application">

  <div class="col-12">
    <h4 class="my-4">DADOS DO INVESTIMENTO</h4>
  </div>

  <div class="col-12">

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item col">
        Nome
        <h5>{{ application.nome }}</h5>
      </li>
      <li class="list-group-item col">
        Saldo Total Disponível
        <h5>{{ application.saldoTotalDisponivel | currency : 'R$' }}</h5>
      </li>
      <li class="list-group-item col">
        Valor Total a Resgatar
        <h5>{{ rescueValue | currency : 'R$' }}</h5>
      </li>
    </ul>

    <br>
    <br>

  </div>

  <div class="col-12">
    <h4 class="my-4">RESGATE DO SEU JEITO</h4>
  </div>

  <ng-container *ngIf="form">

    <form [formGroup]="form">

      <div class="col-12">

        <table class="table">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Ação</th>
            <th class="text-center">Saldo Acumulado</th>
            <th class="text-center">Valor a Resgatar</th>
          </tr>
          </thead>
          <tbody>
          <tr formArrayName="rescues" *ngFor="let acao of application.acoes; let i = index">
            <th class="align-middle text-center">{{ i + 1 }}</th>
            <td class="align-middle">{{ acao.nome }}</td>
            <td
              class="align-middle text-end">{{ (application.saldoTotalDisponivel * (acao.percentual / 100)) | currency : 'R$' }}</td>
            <td class="align-middle text-end">

              <fieldset [formGroupName]="i" class="row">

                <input type="text" formControlName="rescue" class="form-control"
                       [class.is-invalid]="getRescue(i).get('rescue').invalid && getRescue(i).get('rescue').touched"
                       mask="separator.2" thousandSeparator="." [validation]="true" (focus)="selection($event)"
                       (change)="sumValue(application.saldoTotalDisponivel, acao.percentual, getRescue(i).get('rescue').value)">

              </fieldset>

            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </form>

  </ng-container>

  <div class="col-12 text-end">

    <button type="button" class="btn btn-primary" (click)="submitValue()">Confirmar Resgate</button>

  </div>

</div>
